/* Class: DIT/FT/1B/03
Name: Tan Yong Rui
Admission Number: P2004147 */


@charset "utf-8";
/* html */

html {
	background: url('../assets/congruent_pentagon.png');
}

/* Body */
body {
	margin: 0 auto;
	background: #F3E9DC;
}

/* Ensure that text turns black and sets bg of nav button to white */
.nav-link:hover {
	background-color: white;
	color: black !important;
}

/* Custom Background Colours */
.darkbrown {
	background-color: #280000;
}

.purple {
	background-color: #91aff5;
}

.turqoise {
	background-color: #3AAFB9;
}

