

/* Header Colors */
#header {
    background-color: #734f96;
    color: white;
}

body {
    background-color: #f6f8fa;
}

#loginButton {
    background-color: white;
    color: #734f96;
    font-weight: 600;
}

#signUpButton {
    background-color: #6a5acd;
    color: white;
    font-weight: 700;
}

#headerSearchBtn {
    background-color: #6a5acd !important;
}

.fa-user {
    line-height: inherit;
}

.fa-file-image {
    line-height: inherit;
    font-size: 1.4em;
}

.fa-paperclip {
    font-size: 1.4em;
}
.lh-inherit {
    line-height: inherit;
}

.body-borders {
    border: 1px solid #6a5acd35;
}

.icon-hover:hover {
    background-color: #6a5acd35;
}

.post {
    border: 1px solid #6a5acd35;
    /*padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;*/
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    background-color: #f8f9fa;
}

#post1-upvote:hover {
    background-color: #6a5acd35;
}

#post1-downvote:hover {
    background-color: #6a5acd35;
}

.clickable-link:hover {
    text-decoration: underline;
}

#nsfw_tag {
    background-color: #ff585b;
    padding: 0.15em;
    font-weight: bold;
    color: white;
    border-radius: 0.25em;
}

#create_community_footer {
    background-color: #f6f7f8;
}

#create_community_cancel {
    border-color: #734f96;
    font-weight: bold;
    color: #734f96;
}

#create_community_submit {
    background-color: #734f96;
    font-weight: bold;
    border: 0;
}

#about_community_header {
    background-color: #734f96;
}

.fa-xl {
    font-size: 1.5em;
}

.text-scheme {
    color: #734f96;
}

.invert-scheme {
    color: white;
    background-color: #734f96;
}

#add_media_form_button {
}