/* Class: DIT/FT/2B/03
Name: Tan Yong Rui
Admission Number: P2004147 */

@charset "utf-8";

.post{
    position: relative;
}

.pin{
    position:absolute;
    top:0.1em;
    right:0.1em;
    cursor: pointer;
}